%%-*- mode: erlang -*-

{erl_opts, [
            {src_dirs, ["src"]},
            debug_info
           ]
}.

{deps, [
        {edown, {git, "git://github.com/uwiger/edown.git", {tag, "0.8.1"}}},
        {coveralls, {git, "git://github.com/markusn/coveralls-erl.git", {branch, "master"}}},
        {smother, {git, "git://github.com/lauramcastro/Smother.git", {branch, "master"}}},
        {mu2, {git, "git://github.com/lauramcastro/mu2.git", {branch, "master"}}}
       ]
}.

{edoc_opts, [
             {application, ["rbeacon"]},
             {doclet, edown_doclet},
             {subpackages, false},
             {top_level_readme,{"./README.md", "http://github.com/refuge/rbeacon"}}
            ]
}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{dialyzer, [
            {warnings, [no_return]}
           ]
}.

{plugins, [coveralls]}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.
