%%-*- mode: erlang -*-

{erl_opts, [
            {src_dirs, ["src"]},
            debug_info
           ]
}.

{deps, [
        {edown, {git, "git://github.com/uwiger/edown.git", {tag, "0.8.1"}}}
       ]
}.

{edoc_opts, [
             {application, ["rbeacon"]},
             {doclet, edown_doclet},
             {subpackages, false},
             {top_level_readme,{"./README.md", "http://github.com/refuge/rbeacon"}}
            ]
}.

{cover_enabled, true}.

{dialyzer, [
            {warnings, [no_return]}
           ]
}.
